
@model IEnumerable<TPLOCAL1.Models.Personne>

<head>
    <link rel="stylesheet" href="~/ressources/Index.css" />
    <title>HN - TP LOCAL</title>

</head>

<body>

    <header>
        <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Page de validation</h1>
    </header>


    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/ListeAvis">Liste avis</a></li>
        </ul>
    </nav>

    <section>
        <center>
            <p>Votre formulaire à bien été pris en compte</p>
        </center>
        <p>
            <table style="width:40%">
                <tr>

                    <th colspan="2">Informations Personnelles</th>

                </tr>
                <tr>
                    <td style="width:25%">Nom</td>
                    <td>
                        @Personne.Name
                    </td>
                </tr>
                <tr>
                    <td>Prénom</td>
                    <td>
                    @Personne.Prénom
                    </td>
                </tr>
                <tr>
                    <td>Sexe</td>
                    <td>
                    @Personne.Sexe
                    </td>
                </tr>
                <tr>
                    <td>Adresse</td>
                <td>@Personne.Adresse</td>
                </tr>
                <tr>
                    <td>Code postal</td>
                    <td>
                    @Personne.Codepostal
                    </td>
                </tr>
                <tr>
                    <td>Ville</td>
                <td>@Personne.Ville</td>
                </tr>
                <tr>
                    <td>Adresse Mail</td>
                    <td>
                    @Personne.Email
                    </td>
                </tr>
            </table>
            <table style="width:50%">
                <tr>

                    <th colspan="2">Informations formation suivie</th>

                </tr>
                <tr>
                    <td style="width:30%">Date début formation</td>
                    <td>
                    @Personne.Date
                    </td>
                </tr>
                <tr>
                    <td>Type de formation</td>
                    <td>
                    @Personne.Formationsuivie
                    </td>
                </tr>

            </table>
            <table style="width:45%">
                <tr>

                    <th colspan="2">Avis sur la formation</th>

                </tr>
                <tr>
                    <td style="width:40%">Formation Cobol</td>

                <td>@Personne.formationcobol</td>

                </tr>
                <tr>
                <td>Formation C#</td>

                <td>@Personne.FormationC</td>

                </tr>

            </table>
            <input type="submit" value="Valider">


        </p>
    </section>

</body>

